* {
	margin: 10px;
	font-family: "Roboto", sans-serif;
}

html,
body,
#root,
#root > *,
#root > * > *,
[class*="min-h-screen"],
[class*="absolute inset-0"] {
	margin: 0;
}

[class*="min-h-screen"] {
	display: flow-root;
	width: 100%;
}
